.idea
/Assemblies/Assembly-CSharp.dll
/Assemblies/Assembly-CSharp-firstpass.dll
/Assemblies/com.rlabrecque.steamworks.net.dll
/Assemblies/HydroponicsExpanded.dll
/Assemblies/HydroponicsExpanded.pdb
/Assemblies/ISharpZipLib.dll
/Assemblies/NAudio.dll
/Assemblies/NVorbis.dll
/Assemblies/Unity.TextMeshPro.dll
/Assemblies/UnityEngine.AccessibilityModule.dll
/Assemblies/UnityEngine.AIModule.dll
/Assemblies/UnityEngine.AndroidJNIModule.dll
/Assemblies/UnityEngine.AnimationModule.dll
/Assemblies/UnityEngine.ARModule.dll
/Assemblies/UnityEngine.AssetBundleModule.dll
/Assemblies/UnityEngine.AudioModule.dll
/Assemblies/UnityEngine.ClothModule.dll
/Assemblies/UnityEngine.ClusterInputModule.dll
/Assemblies/UnityEngine.ClusterRendererModule.dll
/Assemblies/UnityEngine.CoreModule.dll
/Assemblies/UnityEngine.CrashReportingModule.dll
/Assemblies/UnityEngine.DirectorModule.dll
/Assemblies/UnityEngine.dll
/Assemblies/UnityEngine.DSPGraphModule.dll
/Assemblies/UnityEngine.GameCenterModule.dll
/Assemblies/UnityEngine.GridModule.dll
/Assemblies/UnityEngine.ImageConversionModule.dll
/Assemblies/UnityEngine.IMGUIModule.dll
/Assemblies/UnityEngine.InputLegacyModule.dll
/Assemblies/UnityEngine.InputModule.dll
/Assemblies/UnityEngine.JSONSerializeModule.dll
/Assemblies/UnityEngine.LocalizationModule.dll
/Assemblies/UnityEngine.ParticleSystemModule.dll
/Assemblies/UnityEngine.PerformanceReportingModule.dll
/Assemblies/UnityEngine.Physics2DModule.dll
/Assemblies/UnityEngine.PhysicsModule.dll
/Assemblies/UnityEngine.ScreenCaptureModule.dll
/Assemblies/UnityEngine.SharedInternalsModule.dll
/Assemblies/UnityEngine.SpriteMaskModule.dll
/Assemblies/UnityEngine.SpriteShapeModule.dll
/Assemblies/UnityEngine.StreamingModule.dll
/Assemblies/UnityEngine.SubsystemsModule.dll
/Assemblies/UnityEngine.TerrainModule.dll
/Assemblies/UnityEngine.TerrainPhysicsModule.dll
/Assemblies/UnityEngine.TextCoreModule.dll
/Assemblies/UnityEngine.TextRenderingModule.dll
/Assemblies/UnityEngine.TilemapModule.dll
/Assemblies/UnityEngine.UI.dll
/Assemblies/UnityEngine.UIElementsModule.dll
/Assemblies/UnityEngine.UIModule.dll
/Assemblies/UnityEngine.UNETModule.dll
/Assemblies/UnityEngine.UnityAnalyticsModule.dll
/Assemblies/UnityEngine.UnityConnectModule.dll
/Assemblies/UnityEngine.UnityWebRequestAssetBundleModule.dll
/Assemblies/UnityEngine.UnityWebRequestAudioModule.dll
/Assemblies/UnityEngine.UnityWebRequestModule.dll
/Assemblies/UnityEngine.UnityWebRequestTextureModule.dll
/Assemblies/UnityEngine.UnityWebRequestWWWModule.dll
/Assemblies/UnityEngine.VehiclesModule.dll
/Assemblies/UnityEngine.VFXModule.dll
/Assemblies/UnityEngine.VideoModule.dll
/Assemblies/UnityEngine.VRModule.dll
/Assemblies/UnityEngine.WindModule.dll
/Assemblies/UnityEngine.XRModule.dll
